<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TypeServiceSoapBinding" />
                <binding name="ManufactureServiceSoapBinding" />
                <binding name="MaterialServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/socks-web/soap/typeservice"
                binding="basicHttpBinding" bindingConfiguration="TypeServiceSoapBinding"
                contract="TypeRef.TypeService" name="TypeServiceImplPort" />
            <endpoint address="http://localhost:8080/socks-web/soap/manufactureservice"
                binding="basicHttpBinding" bindingConfiguration="ManufactureServiceSoapBinding"
                contract="ManufactureRef.ManufactureService" name="ManufactureServiceImplPort" />
            <endpoint address="http://localhost:8080/socks-web/soap/materialservice"
                binding="basicHttpBinding" bindingConfiguration="MaterialServiceSoapBinding"
                contract="MaterialRef.MaterialService" name="MaterialServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>
